#banner
  %ul#topbanner
    %li#logo_content
      / = link_to image_tag('logo.jpg') , home_index_path
      = link_to image_tag('tpl.png') , home_index_path

      
    %li#top_link
      = "abc"

  %ul#top_menu_user
    %li#tab_dichvu
      = link_to t("introduc"), new_introduce_path
    %li#tab_thongtin
      = t('info') 
    %li#tab_sanpham
      = t('product')
    %li#tab_lienhe
      = link_to t('contact'), new_contact_path 
    


