#left_side
  %p.cust_support
    = "ABCD"
  %ul.support_info
    %li.phone_img
      =image_tag('contact_fone.gif')
    %li.phone_num
      %p 1234567890
      %p 1234567890

  %p.cust_support
    = "abcdf aaaa"
  .left_side_news
    %p.newshomepage-item 
      = " abafaf afafs afafsaf"
    %p.newshomepage-item 
      = " abafaf afafs afafsaf"
    %p.newshomepage-item 
      = " abafaf afafs afafsaf"
    %p.newshomepage-item 
      = " abafaf afafs afafsaf"

